## Deployment AWS Profile

aws_profile = "default"

aws_region = ""

workspaces = {
  morales = "https://morales-turbot.cloud.turbot-dev.com/"
}

workspace_access_key = {
  morales = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
}

workspace_secret_key = {
  morales = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
}

subnet_ids = [
  "subnet-0a4a4862", 
  "subnet-296b1353"
]

security_groups = [
  "sg-20da9941"
]

## Security hub reporting cross account role
assume_role_name = "secHubTestRole"

assume_role_external_id = "sec_hub_integration"

